*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: #d8ac9f;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

header section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 7vh;
}
.nav-itens{
    margin-top: 3vh;
    font-size: 0.8rem;
}

.nav-itens li{
    display: inline-block;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin-right: 2vw;
}

.nav-itens a {
    text-decoration: none;
    color: #fff;
}

.nav-itens a:hover{
    border-bottom: 2px solid #fff;
    font-size: 0.9rem;
}

.container-img{
    display: flex;
    align-items: center;
    width: 90vw;
    height: 93vh;
}

.imagem{
    width: 50%;
    margin-left: 10vw;
}
img{
    width: 450px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.infos-img{
    margin-left: 5vw;
    text-align: center;
    margin-bottom: 18vh;
}

.info{
    padding-top: 40px;
    text-align: center;
}


