*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: #d8ac9f;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

header section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 7vh;
}
.nav-itens{
    margin-top: 3vh;
    font-size: 0.8rem;
}

.nav-itens li{
    display: inline-block;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin-right: 2vw;
}

.nav-itens a {
    text-decoration: none;
    color: #fff;
}

.nav-itens a:hover{
    border-bottom: 2px solid #fff;
    font-size: 0.9rem;
}

.imagem{
    position: fixed; /* Fixa a imagem na tela */
    top: 20vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 400px;
    height: auto;
}

