*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: #d8ac9f;
    height: 100vh;
    font-family: sans-serif;
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

header section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 7vh;
}
.nav-itens{
    margin-top: 3vh;
    font-size: 0.8rem;
}

.nav-itens li{
    display: inline-block;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin-right: 2vw;
}

.nav-itens a {
    text-decoration: none;
    color: #fff;
}

.nav-itens a:hover{
    border-bottom: 2px solid #fff;
    font-size: 0.9rem;
}

.container-img{
    display: flex;
    align-items: center;
    width: 90vw;
    height: 93vh;
}

.imagem{
    width: 50%;
    margin-left: 10vw;
}
img{
    width: 450px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.infos-img{
    margin-left: 5vw;
    text-align: center;
    margin-bottom: 18vh;
}

.info{
    padding-top: 40px;
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 4rem;
}

h4{
    color: #000;
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
}

.content-services{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap; /*faz com quem se precisar, o conteúdo vai para a linha debaixo*/
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin: auto; /*faz com que as imagens se afastem dos cantos*/
}

.serviceItens{
    background-color: #fff;
    height: 360px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.unha-img, .cilios-img, .sobrancelha-img, .tattoo-img{
    width: 250px;
    height: 260px;
}

.redeSociais{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 25vh;
}

.redeSociais a{
    text-decoration: none;
    color: #000;
    text-align: end;
    width: 50vw;
    font-size: 1.3rem;
}
